@media screen and (max-width: 1441px) {
  header {
    height: inherit;
  }
  #abtMe h1 {
    font-size: 48px;
  }
  #abtMe1 {
    flex-wrap: wrap;
    width: 80%;
    margin: 0px auto;
  }
  #abtMe1 > .abtMe2 {
    width: 40%;
    margin-right: 0;
    margin-bottom: 20px;
    padding-top: 10px;
  }
  #abtMe1 > .abtMe2 p {
    font-size: 24px;
  }
  #services .service {
    width: 45%;
  }
  .service h1 {
    font-size: 40px;
  }
  .service p {
    font-size: 20px;
  }
  #services .service {
    width: 29%;
  }
  footer .footer-bottom {
    position: absolute;
    bottom: 0;
  }
}
@media screen and (max-width: 1025px) {
  header {
    height: inherit;
  }
  #abtMe h1 {
    font-size: 48px;
  }
  #abtMe1 {
    flex-wrap: wrap;
    width: 80%;
    margin: 0px auto;
  }
  #abtMe1 > .abtMe2 {
    width: 40%;
    margin-right: 0;
    margin-bottom: 20px;
    padding-top: 10px;
  }
  #abtMe1 > .abtMe2 p {
    font-size: 24px;
  }
  .service h1 {
    font-size: 40px;
  }
  .service p {
    font-size: 20px;
  }
}
@media screen and (max-width: 769px) {
  nav ul li {
    margin-right: 10px;
  }
  #abtMe {
    height: inherit;
  }
  #abtMe h1 {
    font-size: 40px;
  }
  #abtMe h3 {
    font-size: 12px;
  }
  #abtMe1 {
    flex-wrap: wrap;
    margin: 0px auto;
  }
  #abtMe1 > .abtMe2 {
    width: 40%;
    margin-right: 0;
    margin-bottom: 10px;
    padding: 0 5px;
  }
  #abtMe1 > .abtMe2 img {
    width: 100%;
  }
  #abtMe1 > .abtMe2 p {
    font-size: 18px;
  }
  .title h1 {
    font-size: 40px;
  }
  .service p {
    font-size: 13px;
  }
  .service h1 {
    font-size: 40px;
  }
  .service h3 {
    font-size: 20px;
  }
  #services .service {
    width: 25%;
    margin: 0px;
  }
  #projects1 #projects {
    width: 100%;
  }
  #projects1 #projects .project {
    width: 30%;
    padding-bottom: 40px;
  }
  #projects1 #projects .project h4 {
    font-size: 18px;
  }
  #contact .contact-box .field {
    width: 80%;
    padding: 6px 12px;
  }
  #contact .contact-box .button-submit {
    width: 80%;
  }
  #contact .contact-box .right {
    padding: 15px 35px;
  }
}
@media screen and (max-width: 426px) {
  nav ul li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  #abtMe {
    height: auto;
    padding: 20px 15px;
  }
  #abtMe h1 {
    font-size: 30px;
  }
  #abtMe h3 {
    font-size: 10px;
  }
  #abtMe1 {
    width: 100%;
    flex-wrap: wrap;
    margin: 0px auto;
  }
  #abtMe1 > .abtMe2 {
    width: 60%;
    margin-right: 0;
    margin-bottom: 0px;
    padding: 0 5px;
  }
  #abtMe1 > .abtMe2:last-child {
    padding: 0 10px 0 10px;
  }
  #abtMe1 > .abtMe2 img {
    width: 65%;
  }
  #abtMe1 > .abtMe2 p {
    font-size: 14px;
  }
  .btn1 {
    padding: 10px 32px;
  }
  .btnCenter {
    padding-bottom: 30px;
  }
  .title {
    width: 100%;
    font-size: 20px;
  }
  #services .service {
    width: 100%;
  }
  #services .service h1 {
    font-size: 30px;
  }
  #services .service h3 {
    font-size: 13px;
  }
  #services .service p {
    font-size: 13px;
  }
  #projects1 #titleWhite {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
  }
  #projects1 #projects {
    justify-content: center;
    height: 100vh;
  }
  #projects1 #projects .project {
    width: 90%;
  }
  #projects1 #projects .project img {
    width: 80%;
  }
  #projects1 #projects .project h4 {
    font-size: 14px;
  }
  #contact .contact-box {
    display: block;
  }
  #contact .contact-box .right {
    padding: 35px 55px;
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-content .footer-section {
    width: 30%;
    padding-top: 20px;
  }
  .footer-content .footer-section h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .footer-content .footer-section p {
    font-size: 10px;
    margin-bottom: 8px;
  }
  .footer-content .footer-section a {
    font-size: 12px;
  }
  footer .container .footer-content .footer-section .social-icons i {
    font-size: 14px;
  }
  footer .footer-bottom {
    padding: 8px 0;
    position: relative;
  }
  footer .footer-bottom p {
    font-size: 8px;
  }
}
@media screen and (max-width: 376px) {
  nav ul li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  #abtMe {
    height: auto;
    padding: 20px 15px;
  }
  #abtMe h1 {
    font-size: 30px;
  }
  #abtMe h3 {
    font-size: 10px;
  }
  #abtMe1 {
    width: 100%;
    flex-wrap: wrap;
    margin: 0px auto;
  }
  #abtMe1 > .abtMe2 {
    width: 70%;
    margin-right: 0;
    margin-bottom: 10px;
    padding: 0 5px;
  }
  #abtMe1 > .abtMe2 img {
    width: 70%;
  }
  #abtMe1 > .abtMe2 p {
    font-size: 14px;
    padding: 0px 10px 0px 10px;
  }
  #buttonabt {
    padding: 0px 0px 5px 0px;
  }
  .btn1 {
    padding: 10px 32px;
  }
  .title h1 {
    font-size: 40px;
  }
  #wrap {
    height: inherit;
  }
  #projects1 #titleWhite {
    font-size: 14px;
  }
  #projects1 #projects .project {
    width: 90%;
  }
  #contact .contact-box .contact-h2 {
    font-size: 18px;
  }
  #contact .contact-box .right {
    padding: 15px 30px;
  }
  #contact .contact-box .field {
    font-size: 14px;
  }
  footer .container .footer-content {
    flex-direction: column;
  }
  footer .container .footer-content .footer-section {
    width: 100%;
    padding-top: 5px;
  }
  footer .container .footer-content .footer-section h3 {
    font-size: 15px;
    margin-bottom: 8px;
  }
  footer .container .footer-content .footer-section p {
    font-size: 9px;
    margin-bottom: 12px;
  }
  footer .container .footer-content .footer-section a {
    font-size: 10px;
  }
  footer .container .footer-content .footer-section .social-icons ul li a i {
    font-size: 14px;
  }
  footer .footer-bottom {
    padding: 8px 0;
    position: relative;
    bottom: 0;
  }
  footer .footer-bottom p {
    font-size: 8px;
  }
}
@media screen and (max-width: 322px) {
  #projects1 #titleWhite {
    font-size: 18px;
  }
  #abtMe1 > .abtMe2 p {
    font-size: 12px;
  }
  #abtMe1 > .abtMe2 {
    width: 70%;
    margin-right: 0;
    margin-bottom: 10px;
    padding: 0 5px;
  }
  .btn1 {
    padding: 8px 30px;
  }
  #buttonabt {
    padding-top: 15px;
  }
  .btnCenter {
    padding-bottom: 40px;
  }
  #projects1 #titleWhite {
    font-size: 12px;
  }
  footer .container .footer-content .footer-section h3 {
    font-size: 11px;
    margin-bottom: 8px;
  }
  footer .container .footer-content .footer-section p {
    font-size: 9px;
    margin-bottom: 10px;
  }
  footer .container .footer-content .footer-section a {
    font-size: 10px;
  }
  footer .container .footer-content .footer-section .social-icons i {
    font-size: 12px;
  }
}/*# sourceMappingURL=responsive.css.map */