* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

// Mixins
@mixin link-styles($color) {
  color: $color;
  text-decoration: none;
  position: relative;
  font-size: 20px;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover:before {
    transform: scaleX(1);
  }
}

@mixin button-styles {
  display: inline-block;
  padding: 13px 42px;
  background-color: $main-color;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  border: none;

  &:hover {
    background-color: $button-hover-color;
  }

  a {
    color: #fff;
  }
}

// Variables
$main-color: #E76161;
$pink-color: #F99B7D;
$pink-dark: #B04759;
$purple-color: #B799FF;
$purple-dark: #A459D1;
$gray-color: #7F8487;
$button-color: #AEE2FF;
$button-hover-color: darken($main-color, 20%);

// Styles
header {
  width: 100%;
  height: inherit;
}

a {
  text-decoration: none;
}

nav {
  background-color: white;
  text-align: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $main-color;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;
    }

    a {
      @include link-styles($main-color);
    }
  }

  #logo h1 {
    color: $main-color;
    font-size: 44px;
    margin: 0;
    padding: 0;
  }
}

.pink {
  color: $pink-color;
}

#abtMe {
  color: $pink-color;
  text-align: center;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-weight: bold;
    color: $main-color;
    font-size: 70px;
  }

  h3 {
    color: $pink-dark;
    font-weight: lighter;
    padding-bottom: 10px;
  }
}
#abtMe1 {
  display: flex;
  justify-content: space-around;
  width: 70%;
  padding: 10px auto;
  margin: 0px auto;

  .abtMe2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }

    img {
      width: 80%;
      border: 2px solid $main-color;
    }

    p {
      font-size: 34px;
      color: $pink-dark;
    }
  }
}
.btn1 {
  @include button-styles;
}
#buttonabt{
  padding: 20px 0px;
}

.title {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  color: #fff;
  background-color: $pink-dark;
  padding-top: 40px;
  font-size: 24px;
}
#services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: $pink-dark;
  padding: 20px;

  .service {
    width: 20%;
    text-align: center;
    margin: 20px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    p{
      color: #fff ;
    }
    i{
      color: #fff;
    }
    h3{
      text-decoration: underline;
      padding: 5px 0px;
    }
  }
}

#projects1 {
  height: inherit;

  #titleWhite {
    width: 100%;
    text-align: center;
    color: $pink-dark;
    padding-top: 40px;
    font-size: 24px;
    padding-bottom: 100px;
  }

  #projects {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 50%;

    .project {
      width: 30%;
      text-align: center;
      color: $pink-dark;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 100%;
        border: 2px solid $pink-dark;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      }

      h4 {
        font-size: 24px;
      }
    }
  }

  .btnCenter {
    width: 100%;

    .btn1 {
      display: block;
      margin: 10px auto;
    }
  }
}

#contact {
  position: relative;
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  background-color: $pink-dark;
  padding: 100px 0px;

  .contact-box {
    max-width: 85%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.5);

    .left {
      background: url("../images/landing_page.jpg") no-repeat center;
      background-size: cover;
      background-position: center;
      height: 100%;
    }

    .right {
      padding: 25px 40px;
    }

    .contact-h2 {
      color: $pink-dark;
      position: relative;
      padding: 0 0 10px;
      margin-bottom: 10px;

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 4px;
        width: 50px;
        border-radius: 2px;
        background-color: $pink-dark;
      }
    }

    .field {
      color: #000;
      width: 100%;
      border: 2px solid #000;
      outline: none;
      background-color: #E6E6E6;
      padding: 8px 16px;
      font-size: 17px;
      margin-bottom: 22px;
      transition: .3s;

      &:focus {
        border-color: $pink-color;
      }
    }

    .button-submit {
      color: #000;
      width: 100%;
      padding: 8px 16px;
      background-color: $pink-dark;
      color: #fff;
      font-size: 17px;
      border: none;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: $pink-dark;
        transition: 0.3s;
      }
    }
  }

  .footer-content {
    h3 {
      padding-top: 50px;
    }
  }
}

// Footer styles
footer {
  background-color: white;
  color: $pink-dark;
  padding: 40px 0;
  height: 45vh;
  position: relative;

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    max-width: 1600px;
  }

  .footer-section {
    flex: 0 0 33.33%;
    padding: 0 20px;
    box-sizing: border-box;

    h3 {
      font-size: 22px;
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
      margin-bottom: 10px;
      color: $gray-color;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 10px;

        a {
          color: $pink-color;
          text-decoration: none;
          font-size: 14px;

          &:hover {
            color: $pink-dark;
          }
        }
      }
    }

    .social-icons {
      display: flex;

      li {
        margin-right: 10px;
        .pink{
          color: $pink-dark;
        }

        a {
          color: $main-color;
          text-decoration: none;

          i {
            font-size: 24px;
          }

          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }

  .footer-bottom {
    background-color: $pink-dark;
    padding: 10px 0;
    text-align: center;
    width: 100%;

    p {
      font-size: 12px;
      margin: 0;
      color: white;
    }
  }
}
#services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: $pink-dark;

  .service {
    width: 25%;
    text-align: center;
    margin: 20px;
    border-radius: 20px;
    color: #fff;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  }
}
